
.success{
	padding-top: 20px; 
	position: absolute;
	text-align: center;
	z-index: 999;
	left:30%;
	right: 30%;
}

@media (max-width: 576px) {
	.success {
		left:10%;
		right: 10%;
	}
	.success p{
		font-size: 10px;
	}
  }

.wrap-input2 input{
	background-color: white; 
	color: black;
}

.wrap-input2 textarea{
	background-color: white; 
	color: black;
}

.service-icon{
	width: 20%;
}
.intro-icon{
	width: 100px;
}
img{
	font-size: 10px;
}

.thumb-link img{
	border: 1px solid black;
}

.contacthead{
	padding-bottom: 20px;
}

.header-menu-toggle{
	z-index: 501;
}

.logo{
	display: block;
	padding: 20px;
	text-align: left;
	background-color: rgba(0, 0, 0, 0.3);
	border-top: 1px solid rgba(255, 255, 255, 0.05);
	position: relative;
}

.service-text{
	text-align: center;
}
.service-text p{
	text-align: justify;
}

.service-icon{
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.header-nav__content h3{
	font-size: 2em;
}

.header-nav__list li a{
	font-size: 1.4em;
	padding-left: 50px;
}
.header-nav__list li a::before {
	font-size: 1em;
}

.contact-cust{
	font-family: "metropolis-light", sans-serif;
  font-size: 2rem;
  line-height: 1.7;
  display: block;
}

.contact-main{
	margin-top: 0px;
}
.contact-secondary{
	padding-right: 20px;
}

.shadow {
	margin-left: -3.5px;
	width: 100vw;
}