/* Contact Success dialog box */
.success {
	padding-top: 50px;
	position: absolute;
	text-align: center;
	z-index: 999;
	left: 30%;
	right: 30%;
}

.fa-remove:before,
.fa-close:before,
.fa-times:before {
	font-size: 18px;
}

@media (max-width: 576px) {
	.success {
		left: 10%;
		right: 10%;
	}

	.success p {
		font-size: 10px;
	}
}

/* Header Nav */
.header-menu-toggle {
	z-index: 501;
}

.logo {
	display: block;
	padding: 20px;
	text-align: left;
	/* background-color: rgba(0, 0, 0, 0.4); */
	border-top: 1px solid rgba(255, 255, 255, 0.05);
	position: relative;
}

/* Header Responsive Nav (Mobile)*/
.header-nav__content h3 {
	font-size: 2em;
}

.header-nav__list li a {
	font-size: 1.4em;
	padding-left: 50px;
}

.header-nav__list li a::before {
	font-size: 1em;
}

/* Home Slider Contents */
.shadow {
	margin-left: -4.5px;
	width: 100vw;
	height: 100vh;
	min-height: 600px;
}

.s-home::before {
	/* background-color: #696969; */
	background: rgba(105, 105, 105, 0.5);
}

@media (max-width: 850px) {

	#home,
	.shadow {
		min-height: 600px;
	}
}

.home-sidelinks li {
	background: rgba(0, 0, 0, 0.4);
}

.home-scroll {
	z-index: 3;
}

.home-social {
	z-index: 3;
}

.home-sidelinks {
	z-index: 3;
}

.slider-progress {
	z-index: 3;
}


.home-content__main h1 {
	/* font-size: 6.8rem; */
	font-size: 6vw;
	width: 100vw;
	text-align: center;
	/* padding-left: 100px; */
	margin-top: -100px;
	font-weight: 700;
}

.home-content__main h3 {
	text-align: center;
	color: #ffffff;
	margin-top: 30px;
}

.highlight {
	padding: 0px 20px;
	font-weight: 700;
	line-height: 150px;
	border-width: 0px;
}

/* @media (max-width: 1400px) {
	.home-content__main h1 {

	}

} */

@media (max-width: 600px) {
	.home-content__main h1 {
		/* margin-top: -100px; */
		margin-left: -15px;
		/* font-weight: 700; */
		/* font-size: 3.8rem; */
		/* font-size: 5vw; */
	}

	.home-content__main h3 {
		margin-top: 0px;
		font-size: 15px;
	}

	.highlight {
		line-height: 100px;
		padding: 0px 5px;
	}
}

.contentcolor {
	background-color: #ed4a37;
}

/* .color1 {
	background-color: #883f8e;
	/* position: absolute;
}

.color2 {
	background-color: #4f7d9f;
}

.color3 {
	background-color: #b4462c;
} */

/* progress bar */
.slider-progress {
	width: 100%;
	height: 10px;
	background: rgba(255, 255, 255, 0.5);
	position: absolute;
	bottom: 0;
}

.slider-progress .progress {
	width: 0%;
	height: 10px;
	background: #e74c3c;
}

.progress {
	z-index: 999;
}

/* who we are*/
.intro-icon {
	width: 100px;
	margin-left: auto;
	margin-right: auto;
}

p.lead {
	text-align: justify;
	color: black;
}

.s-about {
	padding-bottom: 0px;
}

/* What we do */

.s-services {
	padding-bottom: 8rem;
}

.service-text {
	text-align: center;
}

.service-text p {
	text-align: justify;
}

.service-icon {
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 20px;
	width: 20%;
}

.h4,
.service-text p {
	color: white;
	padding: 0 5px;
}

.service-item {
	/* padding: 20px;
	margin: 15px 0px; */
	border: 3px solid #f1f1f1;
	/* position: absolute; */
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 430px;
}

.backclr1 {
	background-color: #883f8e;
}

.backclr2 {
	background-color: #8ba633;
}

.backclr3 {
	background-color: #d25f26;
}

.backclr4 {
	background-color: #63a2d7;
}

.backclr5 {
	background-color: #cb7037;
}

.backclr6 {
	background-color: #c43489;
}

/* our works */
.thumb-link img {
	border: 1px solid black;
}

.display-1 {
	font-size: 5.6rem;
}

/* ===================================================================
 * # services
 *
 * ------------------------------------------------------------------- */
.s-clients {
	padding-top: 7rem;
	padding-bottom: 7rem;
	color: #555555;
	position: relative;
}

/* Contact Us */
.contact-cust {
	font-family: "metropolis-light", sans-serif;
	font-size: 2rem;
	line-height: 1.7;
	display: block;
}

.contact-main {
	margin-top: 0px;
}

.contact-secondary {
	padding-right: 20px;
}

.contact-address {
	font-size: 2.3rem;
	color: white;
}

.bname {
	font-size: 2.8rem;
	font-weight: 800;
}

.cname {
	color: white;
}

#firstHeading {
	font-size: 20px;
}

#map {
	margin-top: 20px;
}

/* Contact Form */
.wrap-input2 input {
	background-color: white;
	color: black;
}

.wrap-input2 textarea {
	background-color: white;
	color: black;
}

.contacthead {
	padding-bottom: 20px;
}

/* General */
img {
	font-size: 10px;
}

.subhead {
	font-size: 3rem;
}

@media only screen and (max-width: 1200px) {
	.display-1 {
		font-size: 1.5em;
	}
}