.service-icon{
	width: 20%;
}
.intro-icon{
	width: 100px;
}
img{
	font-size: 10px;
}

.thumb-link img{
	border: 1px solid black;
}

.contacthead{
	padding-bottom: 20px;
}

.header-menu-toggle{
	z-index: 501;
}

.logo{
	display: block;
	padding: 20px;
	text-align: left;
	background-color: rgba(0, 0, 0, 0.3);
	border-top: 1px solid rgba(255, 255, 255, 0.05);
	position: relative;
}

/* .success{
	z-index: 503;
	left:50%;
	position: absolute;
	padding-top: 1000px;
} */